body {
    background: rgb(170, 47, 47);
}
h1 {
    color:cadetblue;
}
.field {
    display: flex;
    flex-wrap: wrap;
    height: 530px;
    width: 530px;
    padding: 0 5px;
}
.hole {
    border: 1px solid black;
    background: black;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin: 0 5px;
}
.goblin {
    background-image: url(./images/2dbd01ce16c0fa83cb67.png);
}
